html { background-color: #333333 }
.wand-sprite img { transform: scale(2) translate(10px, 0%); }
.dimension-sprite { width: 14px; margin-right: 0.3em; }

.crisp img, .crisp canvas, .crisp {
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed (old?)      */
  image-rendering: pixelated;                 /* CSS3 Proposed (current)?      */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
  }

.dom-dimension {
  background-color: #372724;
  padding: 10px;
  border-color: #948064;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.dom-end {
  padding: 10px;
  height: 30px;
}

footer { position: fixed; bottom: 0;}
svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-github { color: #888; }
.icon-twitter { color: #55acee; }
.icon-twitch { color: #6441A4; }
a:link, a:visited { color: #b6a242; }
a:hover, a:active { color: rgb(218, 216, 222); }
